body {
  font-family: "Work Sans", sans-serif;
  font-size: 15px;
  line-height: 1.25 !important;
  font-weight: 400;
}

.Crimson-Text {
  font-family: "Crimson Text", serif;
  font-weight: 700;
}
